PORT=5000
MONGO_URI=your_mongodb_connection_string
JWT_SECRET=your_jwt_secret
GROQ_API_KEY=your_groq_api_key
NODE_ENV=development

# Cloudinary image storage
CLOUDINARY_CLOUD_NAME=your_cloudinary_cloud_name
CLOUDINARY_API_KEY=your_cloudinary_api_key
CLOUDINARY_API_SECRET=your_cloudinary_api_secret
CLOUDINARY_AI_CHAT_FOLDER=mern-ai-social-saas/ai-chat


# Meta / Instagram Graph API
META_APP_ID=your_meta_app_id_here
META_APP_SECRET=your_meta_app_secret_here
META_GRAPH_VERSION=v23.0
META_LOGIN_CONFIG_ID=your_meta_login_config_id_here
INSTAGRAM_REDIRECT_URI=http://localhost:5000/api/instagram/oauth/callback

# Frontend
FRONTEND_URL=http://localhost:5173
