PORT=5000
MONGO_URI=your_mongodb_connection_string
JWT_SECRET=your_jwt_secret
OPENAI_API_KEY=your_openai_api_key
NODE_ENV=development



# Meta / Instagram Graph API
META_APP_ID=your_meta_app_id_here
META_APP_SECRET=your_meta_app_secret_here
META_GRAPH_VERSION=v23.0
INSTAGRAM_REDIRECT_URI=http://localhost:5000/api/instagram/oauth/callback

# Frontend
FRONTEND_URL=http://localhost:5173